{% extends "base.html.twig" %}

{% block title %}
    <div class="container mt-5 text-center">
        <h1 class="display-4 margin-bottom">Repositories</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="container mt-5 text-center">
        <form class="ml-4 mr-4 p-3" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="search" placeholder="Enter repository..."><br>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {#        <div class="container"> #}
        {#            <ul class="list-group"> #}
        {#                {% for repository in repositories %} #}
        {#                    <li class="list-group-item"> #}
        {#                        <strong> Full name: {{ repository.full_name }}</strong> #}
        {#                        <p> Url: {{ repository.html_url }}</p> #}
        {#                        <p> Owner url: {{ repository.owner.html_url }}</p> #}
        {#                    </li> #}
        {#                {% endfor %} #}
        {#            </ul> #}
        {#        </div> #}
    </div>
    <div class="container mt-5 text-center">
        <div class="d-flex flex-wrap">
            {% for repository in repositories %}
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ repository.full_name }}</h5>
                        {#                <h6 class="card-subtitle mb-2 text-body-secondary">{{ issue.user.url }}</h6> #}
                        {#                        <p class="card-text">{{ issue.body }}</p> #}
                        <a href="#" class="card-link">{{ repository.html_url }}</a>
                        <a href="#" class="card-link">{{ repository.owner.html_url }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}