{% extends "base.html.twig" %}

{% block title %}
    <div class="container mt-5 text-center">
        <h1 class="display-4 margin-bottom">User</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="container mt-5 text-center">
        <form class="ml-4 mr-4 p-3" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="search" placeholder="Enter commit to search..."><br>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    <div class="container mt-5 text-center">
        <div class="d-flex flex-wrap">
            {% for user in users %}
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.name }}</h5>
                        {#                <h6 class="card-subtitle mb-2 text-body-secondary">{{ issue.user.url }}</h6> #}
{#                        <p class="card-text">{{ issue.body }}</p>#}
                        <a href="#" class="card-link">{{ user.html_url }}</a>
                        <a href="#" class="card-link">{{ user.repos_url }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}